<%= render 'shared/navbar' %>
<div class="container mb-5">
  <%= link_to "Add a movie", new_list_bookmark_path(@list.id), class: 'btn btn-primary mb-3' %>
  <h1><%= @list.name %></h1>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <img src="<%= movie.poster_url %>" >
    <h2><%= movie.title %></h2>
    <p><%= movie.rating %></p>
    <p><%= movie.overview %></p>
    <h2><%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "T'es sûr wesh ? Chauuuuud..."} %></h2>
  <% end %>
</div>
